* {
  margin: 0px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ubunto";
  src: local("Ubuntu-Bold.ttf"),
    url("Content/Font/Ubuntu-Bold.ttf") format("opentype")
}

@media (max-width: 800px) {}

body {
  background: #222831;
  font-family: ubunto;
}

:root {
  --main-blue: rgba(59, 130, 246, 255);
}

::-webkit-scrollbar {
  display: none;
}

/* log in promp open */
.login {
  height: 110rem;
  width: 100%;
  position: absolute;
  z-index: 5;
  align-items: center;
}

.login div:first-child {
  color: #d8d4d4;
  height: 50vh;
  width: 40%;
  position: fixed;
  background: linear-gradient(#352f44, #222831);
  margin: 20vh 27%;
  border-radius: 30px;
  box-shadow: #202022b7 0px 0px 20px 5px;
  text-align: center;
  padding: 40px;
}

#LGinp1,
#LGinp2 {
  margin-top: 15px;
  background: rgba(243, 241, 241, 0);
  text-align: center;
  color: #e6e2ef;
  border-radius: 20px;
  border: 1px solid #a0a1a3b3;
  width: 90%;
  padding: 8px 0px;
  transition: all ease 0.5s;
}

#LGinp1:focus,
#LGinp2:focus {
  outline: none;
  box-shadow: rgba(59, 130, 246, 255) 0px 0px 5px 2px;
}

.login form {
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
}

.login h6 , footer h4  {
  float: left;
  margin-left: 8%;
  margin-top: 5px;
  color: #5a5a5c;
}

.login form div {
  margin-top: 60px;

}

#LGinp3 {
  margin: 0px;
}

.login h4 {
  text-decoration: underline;
  text-decoration-color: rgba(59, 130, 246, 255);
  font-size: 90%;
}

.login form a {

  color: white;
  text-decoration: none;
  border: 3px solid rgba(59, 130, 246, 255);
  padding: 5px 40px;
  margin: 20px 0px;
  border-radius: 10px;
  transition: all ease 0.5s;
}

/* log in promp close */

/* open navbar */

navbar {
  background: linear-gradient(#ffffff, #e0dedede);
  margin: 0px 2px 0px 0px;
  position: fixed;
  padding: 1px;
  color: rgb(40, 40, 40);
  width: 100%;
  height: 90px;
  /* border-radius: 0px 0px 30px 20px; */
  box-shadow: rgba(0, 0, 0, 0.503) 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  overflow-x: hidden;
  box-shadow: #202022d3 0px 0px 20px 5px;
}

navbar div {
  display: flex;
  align-items: center;
}

navbar div a {
  text-decoration: none;
  color: #222831;
}

navbar img {
  width: 8vh;
  margin: 0px 20px;
}

navbar ul {
  list-style-type: none;
  display: flex;
  margin-top: 4.5vh;
  margin-bottom: 4vh;
}

navbar ul li {
  margin: 2px 3vh 0px 0px;
  font-weight: 900;
}

navbar ul li a {
  color: #222831;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

navbar ul li:nth-child(4) a {
  border: 3px solid rgba(59, 130, 246, 255);
  padding: 6px 8px;
  border-radius: 6px;
  color: rgba(59, 130, 246, 255);
  box-shadow: rgba(59, 130, 246, 255) 0px 0px 10px 1px;
  font-weight: 900;
  text-decoration: none;
  transition: all ease 0.1s;
}

navbar ul li:nth-child(4) a:hover {
  background-color: rgba(59, 130, 246, 255);
  color: white;
}

navbar div input {
  background: rgb(243, 241, 241);
  text-align: center;
  color: #352f44c7;
  border-radius: 20px;
  border: 1px solid #2228318b;
  padding: 8px 0px;
  margin: 4px 30px 0px 0px;
  width: 18vh;
  transition: all ease 0.5s;
}

navbar div input:focus {
  background: rgb(232, 232, 232);
  box-shadow: rgba(59, 130, 246, 255) 0px 0px 25px 2px;
  outline: none;
}

a .profile {
  margin: 4px 30px 0px 0px;
  width: 6vh;
  padding: 2px;
  border: 3px solid #556080;
  border-radius: 100px;
}

.userbox {
  display: none;
  position: fixed;
  z-index: 3;
  float: right;
  width: 12%;
  height: fit-content;
  border: white solid 1px;
  border-radius: 10px;
  background: linear-gradient(#352f44, #222831);
  margin: 10vh 83%;
  padding: 20px;

}

input:focus .userbox {
  background: blue;
  display: none;
}

.profile1 {
  width: 10vh;
  border: 4px solid rgb(15, 176, 15);
  border-radius: 50px;
}

.userbox div:nth-child() {
  display: inline-block;
  white-space: nowrap;
}

.userbox div div {
  margin: 10px 0px 0px 0px;
  color: #ffffff;
}

.userbox div div h4 {
  margin: 8px 0px;
}

.userbox div div h5 {
  margin: 3px 0px;
}

.logout {
  margin-top: 20px;
  border: red 1px solid;
  border-radius: 5px;
  padding: 0.5vh 7vh;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.771);
}

.logout:hover {
  color: #ffffff;
  background: rgba(255, 0, 0, 0.74);
}


/* close navbar */

/* open main */

/* section 1 open */

.topheader {
  background: linear-gradient(#352f44, #222831);
  height: 100vh;
  z-index: 0;
}

.headershodow {
  background-color: rgba(0, 0, 255, 0);
  box-shadow: rgba(84, 64, 224, 0.689) 0px 110px 1000px 200px;
  margin: auto;
  border-radius: 100%;

}

.section1 {
  display: flex;
  justify-content: center;
  font-size: 500%;
  margin-top: 20VH;
  padding: 10px 60px;
  color: #d8d4d4;
}


/* section 1 close */

/* section 2 open */
.section2 img{
  animation: pic 5s infinite;
  animation-timing-function: ease-in-out;
}
.section2 div p{
  color: #d8d4d4;
  text-align: left;
  line-height: 25px;
}
@keyframes pic {
  0% {margin-top: 25px;rotate:-5deg ;}
  50% {margin-top: 75px;rotate: 5deg ;}
  100% {margin-top: 25px;rotate: -5deg ;}
}
.container {
  color: #1d1d1f;
  text-align: center;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  margin: auto;
}
.section1 h1:first-child{
  font-size: 90%;
}

.card1 {
  background: linear-gradient(-45deg, rgba(59, 130, 246, 255), rgba(159, 150, 246, 255));
  width: 20%;
  height: 11em;
  display: inline-block;
  border-radius: 20px;
  padding: 4px;
  margin: 10px 1%;
  overflow: hidden;
  transition: all ease-out 0.5s;
}
.section2 {
  border-radius: 30px;
  background: linear-gradient(135deg, #1d1d1f, #202022);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: #202022f7 0px 0px 20px 10px;
  margin: 5vh 40px;
  text-align: center;
  overflow: hidden;
  width: 90%;
  height: fit-content;
  padding: 40px;
}
.section2  h1{
  text-align: center;
  text-decoration: solid;
  color: var(--main-blue);
  text-decoration: underline;
  list-style: circle;
  font-size: xx-large;
  opacity:inherit;
  margin: 1vh;
}

/* section 2 close */

/* about us opens*/

.main-plate{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  margin: 2vh 0px;
  padding: 30px;
  
}
/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
.main-plate> ul{
  list-style: none;
}
.main-plate> a{
  text-decoration: none;
}
.main-plate> img{
  max-width: 100%;
  height: auto;
}
.main-plate{
  height: fit-content;
  white-space: nowrap;
  margin-inline: 1.5rem;

}
.junior-plate{
  flex: 1;
  position: relative;
  width: 290px;
  background: linear-gradient(135deg, #1d1d1f, #202022);
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 2.5rem 1.5rem 3.5rem;
  text-align: center;
  box-shadow: #202022f7 0px 0px 20px 10px;
}

.card-img {
  width: 120px;
  object-fit:cover ;
  object-position:right;
}
 
 .card-img-gamar{
  width: 130px;
  object-fit:cover;
  object-position: bottom;
  margin-top: -30px;
 }

 .card-img-mahisa{
  width: 300px;
  object-fit: cover;
  object-position: center;
  margin-top: -100px;
  margin-left: -90px;
 }

.card_border{
  width: 124px;
  height: 124px;
  background-color: var(--main-blue);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
}


.card_perfil{
  width: 104px;
  height: 104px;
  background-color:var(--main-blue) ;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
}

.card_name ,.card_profession {
  color: #e6e2ef;
}

.card_name{
  font-size: 20px;
  font-weight:600 ;
  margin-bottom: .25rem;
}

.card_profession{
  font-size: 16px;
  font-weight: 500;
}
.insta-icon{
  width: 20px;
}

.info-icon-img  ,.git-icon{
  width: 20px;
}

.info{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  background-color:var(--main-blue) ;
  padding: 2.5rem 1.5rem 3.3rem;
  border-radius: 1rem 1rem 1rem 1rem;
  clip-path: circle(16px at 20.8vw 40px);
  transition: clip-path .4s ease-in-out;
}
.info_icon{
  position: absolute;
  /* top: 3.9vh; */
  top: 29px;
  /* right: 9rem; */
  right: 9.4vw;
  font-size: 1.5rem;
  color: rgb(234, 230, 239);
  display: inline-flex;
  /* padding: .25rem; */
  cursor: pointer;
  transition: opacity .3s;
}
.info-icon-img{
  margin-top: 1.5px;
  margin-right: 2px;
}

.info_img , .info_img_gamar , .info_img_mahisa{
  width: 60px;
  object-fit: cover;
  object-position: center;
}

.info_img_gamar{
  margin-bottom: -30px;
  margin-left: 5px;
}
.info_img_mahisa{
  width: 140px;
  margin-bottom: -90px;
  margin-left: 10px;
}
.info_border
{
  width: 64px;
  height: 64px;
  background-color: #1d1d1f;
  border-radius:50% ;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
  transform:translateX(-3rem) ;
  transition: transform .8s;
}
.info_perfil{
  width: 52px;
  height: 52px;
  background-color:lightcoral;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info_data{
  display: grid;
  row-gap: .25rem;
  margin-bottom: 1.5rem;
  transform:translateX(-4rem) ;
  transition: transform 1s;
}
.info_name{
  font-size: 14px;
  color: bisque;
}

.info_profession,
.info_location{
  font-size: 12px;
}

.info_social{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  transform:translateX(-5rem) ;
  transition: transform 1.2s;
}

.info_social-link{
  width: 32px;
  height: 32px;
  background-color: #e6e2ef00;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform .3s;
}

.info_social-icon{
  display: inline-flex;
  background: #e6e2ef;
  border: 2px solid black;
  padding: .25rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.512);
  font-size: 1rem;
}

.info_social-link:hover{
  transform: translateY(-.25rem);
}

.info:hover{
  clip-path: circle(75%);
}

.info:hover .info_icon{
  opacity: 0;
}

.info:hover .info_border,
.info:hover .info_data,
.info:hover .info_social{
  transform: translateX(0);
}

/*about us closes*/
.Ecxel {
  margin: 5vh auto;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ecxel a{
  text-decoration: none;
  color: white;
  width: 40%;
  background-color: var(--main-blue);
  padding:20px;
  border-radius: 5px;
  transition: all ease .5s;
}
.Ecxel a:hover{
  color: var(--main-blue);
  box-shadow: var(--main-blue) 0px 0px 10px 5px;
  width: 60%;
  background-color: white;
}

/* section 3 open */




.section2 div {
  width: 50%;
  justify-content: center;
}

.programmers {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}



/* section 3 close */


/* close main */

/* open footer */
.footer{
  background-color: #202022;
  overflow: hidden;
}
.containerr{
 padding: 5%;
 display: flex;
 justify-content: center;

}
.row {
  display: flex;
  width: 80%;
  text-align: left;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  align-items: start;
}
.footer-col h1{
  color:rgb(102, 101, 113);
  margin-bottom: 20px;
}
.footer-col  ul{
  list-style-type: none;
  padding-inline-start: 10px;
  vertical-align: 5px;
}

.footer-col:first-child ul{
  font-size: 85%;
  
}
.footer-col:first-child ul li{
  margin-bottom: 10px;  
}


.footer-col ul A, .footer ul li{
  color: gray;
  text-decoration: none;
  vertical-align: 5px;
}
.footer-col:nth-child(4){
  text-align: center;
}
.footer-col:first-child li{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-col:first-child ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-col:first-child img{
  border-radius: 5px;
}
.social-links ul a{
  margin: 0px 5px;
  transition: all ease 0.2s;

}
.social-links ul a i{
  width: 20px;
  font-size: 3vh;
  border: 2px solid gray;
  border-radius: 15px;
  text-align: center;
  padding: 8px;

}
.social-links ul a:hover {
  width: 20px;
  font-size: 3vh;
  border: 2px solid gray;
  background: gray;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding: 8px;
}