* {
  margin: 0px;
}

navbar {
  background: linear-gradient(#ffffff, #e0dedea9);
  margin: 0px 2px 0px 2px;
  position: fixed;
  padding: 1px;
  color: rgb(40, 40, 40);
  width: 100%;
  height: fit-content;
  border-radius: 0px 0px 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.503) 0px 0px 10px;
  display: flex;
  z-index: 2;
  position: fixed;
}
navbar img {
  width: 9vh;
  margin: 5px 20px;
}

navbar h1 {
  margin-top: 2.5vh;
}
navbar ul {
  list-style-type: none;
  display: flex;
  margin-top: 4vh;
  
}
navbar ul li {
  margin: 2px 20px;
  font-weight: 900;
}
navbar ul li:nth-child(3) a {
  border: 3px solid rgb(64, 64, 224);
  padding: 4px;
  border-radius: 6px;
  color: rgb(64, 64, 224);
  box-shadow:rgba(64, 64, 224, 0.56) 2px 0px 10px 1px;
  font-weight: 900;
  text-decoration: none;
  transition: all ease 0.1s;
}
navbar ul li:nth-child(3) a:hover{
  background-color: rgb(64, 64, 224);
  color: white;
} 

.topheader {
  background: linear-gradient(#352f44, #222831);
  height: 70vh;
  z-index: 0;
}

.headershodow {
  background-color: rgba(0, 0, 255, 0);
  box-shadow:rgb(64, 64, 224) 2px 0px 1000px 200px;
  width: 0.5%;
  height: 0.5%;
  margin: auto;
  border-radius: 100%;

}

